<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.blingbili.nasdaq-morning-brief.generate</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>-B</string>
      <string>-m</string>
      <string>nasdaq_morning_brief</string>
      <string>--config</string>
      <string>config.yaml</string>
      <string>--no-push</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PYTHONPATH</key>
      <string>/Users/blingbili/Library/daily_market_runtime</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>45</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/blingbili/Library/daily_market_runtime</string>

    <key>StandardOutPath</key>
    <string>/Users/blingbili/Library/daily_market_runtime/output/generate.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/blingbili/Library/daily_market_runtime/output/generate.stderr.log</string>
  </dict>
</plist>
