<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.blingbili.nasdaq-morning-brief.push</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/blingbili/Documents/New project 2/run_push_feishu.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/blingbili/Documents/New project 2</string>

    <key>StandardOutPath</key>
    <string>/Users/blingbili/Documents/New project 2/output/push.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/blingbili/Documents/New project 2/output/push.stderr.log</string>
  </dict>
</plist>
